<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Your Rental Bike</h1>
    <a href="/users/<%= user._id %>/rental/new">Rental new Bike</a>
    <ul>
      <% bookings.forEach( booking => { %>
      <li>
        <h3><%= booking.adders %> at <%= booking.fristdate %></h3>
        <p><%= booking.bike[0].type %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
