<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Rental Bike</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <main>
      <h1>Your Rental Bike</h1>
      <a href="/users/<%= user._id %>/rental/new" class="btn"
        >Rental New Bike</a
      >
      <ul class="booking-list">
        <% bookings.forEach(booking => { %>
        <li class="booking-item">
          <h2><%= booking.bike[0].company %> - <%= booking.bike[0].type %></h2>
          <p><strong>Address:</strong> <%= booking.adders %></p>
          <p>
            <strong>Start Date:</strong> <%=
            booking.fristdate.toISOString().split('T')[0] %>
          </p>
          <p>
            <strong>End Date:</strong> <%=
            booking.lastdate.toISOString().split('T')[0] %>
          </p>
          <a href="/users/<%= user._id %>/rental/<%= booking._id %>" class="btn"
            >View Details</a
          >
        </li>
        <img src="<%= imges[booking.bike[0].company] %>" />
        <% }) %>
      </ul>
    </main>
  </body>
</html>
